<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a website that teaches Python Flask and HTML/CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="coding, python, flask, html, css">
    <meta name="author" content="Pavan Eega">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Portfolio website</title>
    <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/png">
</head>
<body>

    <header> 
      <a href="#" class="logo"> Pavan eega </a>
      
      <nav>
          <a href="#" class="active"> Home </a>
          <a href="#" > Contact </a>
          <a href="#" > Skill </a>
          <a href="https://github.com/Pavaneega?tab=repositories" > Projects </a>
          <a href="https://drive.google.com/file/d/1yQf9Rf3JbFi-cCNC_JZbjnanQLsh6o99/view" > Resume </a>
          
      </nav>
    </header> 
    <section class="home">
        <div class="home-img">
            <img src="{{ url_for('static', filename='images/main.jpg')}}" alt="">
        </div>
        <div class="home-content">
            <h1>Hi,it's <span>Pavan</span></h1>
            <h3 class="typing-text">i'm <span></span></h3>
            <p>A passionate and detail-oriented Full Stack Developer with a strong foundation in Python, front-end, and back-end technologies. Skilled in building robust, scalable applications with hands-on experience in HTML, CSS, JavaScript, React, and Django. Adept at writing clean, efficient, and maintainable code, and enthusiastic about collaborating with cross-functional teams to deliver high-quality software solutions. Committed to continuous learning and staying updated with emerging technologies to drive innovative solutions. Known for problem-solving skills, attention to detail, and a proactive approach to enhancing user experiences.</p>
            <div class="social-icons">
                <a href="https://github.com/Pavaneega"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/pavanreddyeega/?igsh=MTN1Z2d0am5odjkzeQ%3D%3D&utm_source=qr#"><i class="fa-brands fa-instagram"></i></a>
                
            </div>
            <a href="mailto:your-pavaneega1234@gmail.com" class="btn">Hire me</a>
        </div>
    </section>
</body>
</html>